# === Narzędzia sieciowe i systemowe ===
scapy>=2.5.0          # Główny sniffer, parser plików .pcap i warstw sieciowych
psutil>=5.9.0         # Mapowanie portów na procesy (Host-based labeling)

# === Przetwarzanie danych (Preprocessing) ===
pandas>=2.0.0         # Manipulacja danymi tabelarycznymi i zapis do .csv
numpy>=1.24.0         # Zaawansowana matematyka (percentyle, mediany, odchylenia)

# === Klasyczne Uczenie Maszynowe (Random Forest) ===
scikit-learn>=1.3.0   # Implementacja Random Forest, metryki, podział zbiorów
joblib>=1.3.0         # Zapisywanie i wczytywanie wytrenowanych modeli na dysk

# === [Na przyszłość] Głębokie uczenie (CNN) ===
# torch>=2.0.0        # PyTorch - Odkomentować, gdy zaczniecie robić sieci neuronowe
# torchvision>=0.15.0 # Pomocnicze funkcje wizyjne dla PyTorcha

# === [Na przyszłość] Interfejs Graficzny ===
# PyQt5>=5.15.0       # Jeśli zdecydujecie się na GUI w Qt
matplotlib>=3.7.0     # Wykresy porównawcze (opcjonalnie, można też użyć Plotly lub Seaborn)
seaborn>=0.12.0     # Estetyczne wykresy (opcjonalnie, można też użyć Plotly lub Matplotlib)